apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "syncserver-auth.fullname" . }}
  labels:
    {{- include "syncserver-auth.labels" . | nindent 4 }}
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "syncserver-auth.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "syncserver-auth.labels" . | nindent 8 }}
        {{- with .Values.podLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "syncserver-auth.serviceAccountName" . }}
      {{- with .Values.podSecurityContext }}
      securityContext:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
        - name: {{ .Chart.Name }}
          {{- with .Values.securityContext }}
          securityContext:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: {{ .Values.service.port }}
              protocol: TCP
          env:
            - name: BASE_URL
              value: {{ .Values.baseUrl }}
            - name: SYNC_SERVER_URL
              value: {{ .Values.syncServerUrl }}
            - name: DATABASE_URI
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.authDatabaseUriSecretRef.name }}
                  key: {{ .Values.authDatabaseUriSecretRef.key }}
            - name: JWT_PRIVATE_KEY
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.jwtPrivateKeySecretRef.name }}
                  key: {{ .Values.jwtPrivateKeySecretRef.key }}
            - name: VAPID_PRIVATE_KEY
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.vapidKeySecretRef.name }}
                  key: {{ .Values.vapidKeySecretRef.privateKeyKey }}
            - name: VAPID_PUBLIC_KEY
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.vapidKeySecretRef.name }}
                  key: {{ .Values.vapidKeySecretRef.publicKeyKey }}
            {{- if .Values.vapidKeySecretRef.contactEmailKey }}
            - name: VAPID_EMAIL
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.vapidKeySecretRef.name }}
                  key: {{ .Values.vapidKeySecretRef.contactEmailKey }}
            {{- end }}
            - name: AUTH_METHOD
              value: {{ .Values.authMethod }}
            {{- if (eq .Values.authMethod "oidc") }}
            - name: OIDC_ISSUER
              value: {{ .Values.oidc.issuer | quote}}
            - name: OIDC_CLIENT_ID
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.oidc.clientSecretRef.name }}
                  key: {{ .Values.oidc.clientSecretRef.clientIdKey }}
            - name: OIDC_CLIENT_SECRET
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.oidc.clientSecretRef.name }}
                  key: {{ .Values.oidc.clientSecretRef.clientSecretKey }}
            {{- end }}
          {{- with .Values.livenessProbe }}
          livenessProbe:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.readinessProbe }}
          readinessProbe:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.resources }}
          resources:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.volumeMounts }}
          volumeMounts:
            {{- toYaml . | nindent 12 }}
          {{- end }}
      {{- with .Values.volumes }}
      volumes:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
