apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "syncserver-token.fullname" . }}
  labels:
    {{- include "syncserver-token.labels" . | nindent 4 }}
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "syncserver-token.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "syncserver-token.labels" . | nindent 8 }}
        {{- with .Values.podLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "syncserver-token.serviceAccountName" . }}
      {{- with .Values.podSecurityContext }}
      securityContext:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
        - name: {{ .Chart.Name }}
          {{- with .Values.securityContext }}
          securityContext:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: {{ .Values.service.port }}
              protocol: TCP
          env:
            - name: SYNC_HOST
              value: "0.0.0.0"
            - name: SYNC_PORT
              value: "80"
            - name: SYNC_TOKENSERVER__FXA_EMAIL_DOMAIN
              value: {{ .Values.tokenDomain }}
            - name: SYNC_TOKENSERVER__FXA_OAUTH_SERVER_URL
              value: {{ .Values.authServerUrl }}
            - name: SYNC_MASTER_SECRET
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.masterSecretSecretRef.name }}
                  key: {{ .Values.masterSecretSecretRef.key }}
            - name: SYNC_SYNCSTORAGE__DATABASE_URL
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.storageDatabaseUriSecretRef.name }}
                  key: {{ .Values.storageDatabaseUriSecretRef.key }}
            - name: SYNC_TOKENSERVER__DATABASE_URL
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.tokenDatabaseUriSecretRef.name }}
                  key: {{ .Values.tokenDatabaseUriSecretRef.key }}
            - name: SYNC_TOKENSERVER__RUN_MIGRATIONS
              value: "true"
            - name: RUST_LOG
              value: "info"
          {{- with .Values.livenessProbe }}
          livenessProbe:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.readinessProbe }}
          readinessProbe:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.resources }}
          resources:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.volumeMounts }}
          volumeMounts:
            {{- toYaml . | nindent 12 }}
          {{- end }}
      {{- with .Values.volumes }}
      volumes:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
